html {
  overflow-y: auto;
  /* font-family: cursive; */
}

#header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 128, 0);
  padding: 10px;
  color: azure;
}

.site-header_wrapper {
  display: flex;
  align-items: center;
}

.nav_wrapper {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav_wrapper a {
  color: black;
  font-size: larger;
  margin: 10px;
}

body {
  background-image: url("./images/bg.jpeg");
  background-size: 100%;
  padding: 20px 80px;
}

#placeholder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 50px;
  flex-wrap: wrap;
  text-align: center;
  z-index: 100;
}

.card {
  border: 5px autset rgba(0, 128, 0);
  border-radius: 25px;
}

.visitor-card {
  max-width: 250px;
  overflow: hidden;
  background: white;
  border-radius: 25px;
  animation: fade-in 0.4s ease-in forwards;
  padding: 2%;
  margin: 5%;
  text-align: center;
  box-shadow: 2px 10px 12px;
}

img {
  width: 350px;
  border-radius: 20px;
  box-shadow: 2px 10px 12px;
  margin: 3%;
  color: #000;
}

.visitor-card img {
  width: 90%;
  max-width: 100%;
  object-fit: cover;
  max-height: 180px;
  border-radius: 100%;
  overflow: auto;
}

.visitor-card h2 {
  margin-top: 5%;
}

.visitor-card p {
  text-align: center;
  padding: 2px 6px;
  margin: 2%;
}

.visitor-card p.price::after {
  content: "₪";
}

.empty-result {
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

dialog {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
}

.wrapper {
  display: block;
  justify-content: space-evenly;
  align-items: center;
}

#image {
  padding: 0%;
  margin: 0%;
}

#theAnimal {
  display: block;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 128, 0, 0.6);
  color: white;
  border-radius: 25%;
}

#related-animals {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.center {
  padding: 5% 0 0 30%;
  margin: 3%;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-10px, 10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
#welcome {
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 128, 0, 0.6);
  padding: 10px;
  color: azure;
}
#toLogin {
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 128, 0, 0.6);
  padding: 10px;
  color: azure;
}
#create-visitor-form {
  display: flex;
  justify-content: center;
  color: rgba(0, 128, 0);
  padding: 20px 0;
}
#signup {
  height: 100vh;
  align-content: center;
}
#visitorData {
  margin-left: 20px;
}
#reset {
  margin-left: 5px;
}
.site-header_wrapper {
  align-items: first baseline;
}
#filters {
  background-color: white;
  text-align: center;
  padding-bottom: 5px;
}
